/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Elements
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.credits {
  color: #7e7e7e;
  margin-top: -20px;
}
.logos {
  position: relative;
}
.logo {
  position: relative;
  max-width: 45%;
  margin: 8rem auto -12rem;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}

/* Section Layout 1
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.layout-1 {
  border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
}
.categories .section-description {
  margin-bottom: 4rem;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 7rem 0 5rem;
    text-align: left;
  }
  .intro {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .logo {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .logo + .logo {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .some-heading {
    font-size: 2.4rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .intro {
    height: 190px;
  }
  .intro-heading {
    font-size: 2.6rem;
  }
  .section {
    /*padding: 14rem 0 15rem;*/
  }
  .intro {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .logo {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .logo + .logo {
    top: -12rem;
    max-height: 472px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    /*padding: 20rem 0 19rem;*/
  }
  .intro {
    padding: 22rem 0;
  }
  .intro-heading {
    font-size: 3.0rem;
  }
  .logo {
    top: -16rem;
    max-height: 615px;
  }
  .logo + .logo {
    top: -14rem;
    max-height: 570px;
  }
}

/* Carto DB Stuff
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#map {
  height: 700px;
  width: 50%;
}

.layer_selector {
    background: #fff;
    border-radius: 4px;
    padding: 0;
    border: 1px solid #999999;
    width: 248px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    font: 11px 'Helvetica';
    position: absolute;
    right: 20px;
    bottom: 150px;
}

.layer_selector > p {
    font-weight: bold;
    color: #666666;
    padding: 14px 14px 12px 14px;
    cursor: pointer;
    border-bottom: 1px solid #999;
}

.layer_selector ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    bottom: 36px;
    border-radius: 4px;
}

.layer_selector li {
    padding: 7px;
    font-size: 11px;
    color: #222;
    cursor: pointer;
}
.layer_selector li:not(:last-child) {
    border-bottom: 1px solid #999;
}
.layer_selector li:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}
.layer_selector li.sql_selected,
.layer_selector li.cartocss_selected {
    background-color: #A6CEE3;
}

.leaflet-left .leaflet-control {
    margin-left: 30px;
    margin-top: 30px;
}
